.item{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-top:5px;
  padding-bottom: 5px;
  max-width: 100%;
  margin: 0 auto;
  border:1px solid gray;
  max-width: 100%;
  margin: 0 auto;

}

.button-group-1{
display: flex;
justify-content:space-between;
margin-left:2%;

align-content: center;
height:30px;
width:20%;
}
.item-content{
  display: flex;
  margin-left:2%;

  width:60%;
}
.button-group-2{

  width:20%;
  display: flex;
}

.modal{
  display: block;
  background: black;
  color: white;
  font-size:16px;
  height:100vh;
}
.modal-hidden{
  display: none;
}

.shopping-list{
  display: block;
  margin: 0 auto;
  background: red;
  color: white;
  font-size:16px;
  height:100vh;

}

.shopping-list-hidden{
  display: none;
}

.item span{
  display: flex;
  line-height: 25px;
  justify-content: center;

  font-size:30px;
  width:50%;
  margin-right:2%;
  height: 30px;
  border:1px solid black;


}

.update-button{
  width:47.5%;
  background: blue;
  color:white;
}
.delete-button{
  width:47.5%;
  background: red;
  color:white;
}
.item-container{
  display: flex;
  flex-direction: column;

  max-width:50%;
  margin: 0 auto;
  margin-top:30px;

}
.add-form{
  max-width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.add-form-update{
  display: none;
}

.container-heading{
  width:100%;
  display: flex;
  justify-content: space-between;
}
