.item{
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
  padding-top:3px;
  padding-bottom: 3px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 3px;
  border:1px solid gray;

}
.item button{
  margin-right:2%;
}

.update-button{
  background: blue;
  color:white;
}
.delete-button{
  background: red;
  color:white;
}
.item-container{
  display: flex;
  flex-direction: column;
  max-width:50%;
  margin: 0 auto;
  margin-top:30px;

}
.add-form{
  max-width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container-heading{
  width:100%;
  display: flex;
  justify-content: space-between;
}
