
#us-map{
   margin-top:100px;
}
.state {fill:#EF5E4A;}

path:hover, circle:hover {
  stroke: #2e3842 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #FDCEC6 !important;
  cursor: pointer;
}

.map-container{
  width:100%;
  background-color: #2e3842;
  height:100vh
}
