.modal{
  display: block;

  color: white;
  font-size:16px;
  top:15%;
  height:70vh;
  width:60%;
  left: 20%;
  z-index: 1000;
  position: fixed;
  border: 3px solid #2e3842;
  background-color: rgba(239,94,74, .97);}

.modal-hidden{
  display: none;
}
.modal-heading{
  width:90%;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-left:10%;
}
.modal-heading-info{
  margin-right:10%;
}
.modal-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto
}

.modal-top{
  width:95%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.submit-data{
  background: #2e3842;
  color:white;
  width: 20%;
  padding-top:10px;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  border: 0px solid;
  height:40px;
  margin-bottom: 30px;
  border-radius: 4px;
  text-align: center;
}
.modal-button-group{
  display: flex;
}
.close-modal{
  background-image: url("../assets/x-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height:50px;
  width:10%;
  padding-top: 5px;
  font-size:36px;
  font-weight: 600;
  margin-top: 10px;
}
.modal-content button{
  color: #EF5E4A
}
